@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lora:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  height: 100vh;
  padding: 2rem;
}

.app {
  max-width: 414px;
  margin: 0 auto;
}

/* MAIN */

.title {
  font-family: 'Lora', sans-serif;
  font-size: 32px;
  text-align: center;
  color: #064db7;

  margin: 140px 0 80px 0;
}

/* EDIT TODO */

.addTodo {
  display: grid;
  justify-content: center;

  margin-bottom: 80px;
}

.addTodo__background {
  background-color: #fafafa;
  width: 414px;
  height: 71px;
  padding: 12px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form--check {
  height: 19px;
  width: 19px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  margin-right: 10px;
}

.addTodo__input--content {
  font-size: 16px;
  line-height: 20px;

  background-color: #fafafa;
  border: none;
  outline: none;
  resize: none;
}

.addTodo__date {
  font-size: 10px;
  color: #a6a6a6;
  margin: 16px 0 0 30px;
}

/* DIVIDER */

.divider {
  width: 414px;
  border-bottom: 1px solid #000;

  margin-bottom: 19px;
}

.divider__subTitle {
  font-size: 16px;
  color: #064db7;
  margin-bottom: 10px;
}

/*  TODOS */
.activeTodos {
  max-height: 350px;
  overflow: scroll;
}

.todo__row {
  width: 414px;
  margin-bottom: 19px;

  display: flex;
  flex-direction: row;
}
.todo__content {
  font-size: 16px;
  line-height: 20px;
  width: 348px;
}

.todo__selected {
  height: 16px;
  width: 16px;
  margin-left: 20px;
}

.btn--delete {
  display: flex;
  border: none;
  background-color: #fff;
  padding: 2px;
}

.btn--delete__icon {
  display: inline-block;
}

/* LOGGED TODOS*/

.hidden {
  opacity: 0;
}

.btn--logged {
  font-size: 12px;
  line-height: 15px;
  color: #a6a6a6;
  background-color: #fff;
  border: none;

  margin: 60px 0 20px 0;
}

.btn--logged:hover {
  cursor: pointer;
}

.completedTodos {
  max-height: 350px;
  overflow: scroll;
}

.completed {
  color: #a6a6a6;
}
