@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lora:wght@400;500;600;700&display=swap');

:root {
  --primary: #0446a9;
  --secondery: #7faef5;
  --black: #000;
  --gray: #a6a6a6;
  --light-gray: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

input:not([type='checkbox']),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  margin: 2rem 1.5rem;
}

.title {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: var(--primary);

  margin: 120px 0 20px;
  transform: translatey(100px);
  transition: ease-out 0.5s;
}

.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0rem 0rem 2.5rem 0rem;

  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
}

.onboarding .onboarding__instructions {
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.onboarding img {
  margin-top: 1rem;
}

.app {
  display: none;
  opacity: 0;
  max-width: 414px;
  margin: 0 auto;
}

.create-todo {
  background-color: var(--light-gray);
  padding: 0.75rem 0rem 0.75rem 2.5rem;
  border-radius: 5px;
  margin: 5rem 0rem;
}

.create-todo input[type='text'],
.todo-itme__content input[type='text'] {
  display: block;
  width: 100%;
  font-size: 1rem;
}

.create-todo input[type='date'],
.todo-itme__date input[type='date'] {
  display: block;
  font-size: 0.625rem;
  padding-top: 1rem;
  color: var(--gray);
}

.todo-lsit-header {
  font-size: 1rem;
  color: var(--primary);
  border-bottom: 1px solid var(--black);
  padding: 0rem 0rem 0.652rem 0.313rem;
}

.todo-list {
  margin-bottom: 5rem;
  max-height: 156px;
  overflow: scroll;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0.313rem;
}

.todo-item label {
  display: block;
  margin-right: 0.652rem;
  cursor: pointer;
}

input[type='checkbox'] {
  display: none;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

input:checked ~ .checkmark {
  background-color: var(--primary);
  border: none;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

input:checked ~ .checkmark::after {
  display: block;
}

label .checkmark:after {
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(40deg);
}

.bubble__checkbox {
  display: none;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--secondery);
}

.bubble__checkbox::after {
  content: '';
  display: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--secondery);
  border-radius: 50%;
  transition: 0.2s ease-in;
}

input:checked ~ .bubble__checkbox::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.todo-item .todo-itme__content {
  flex: 1 1 100%;
}

.toggle-logged-todos {
  font-size: 0.75rem;
  color: var(--gray);
  margin-top: 5rem;
}

.add-todo {
  position: absolute;
  top: 400px;
  right: 0;
  left: 0;
  transition: all 0.5s;
}
